html {
}
body {
}
div.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container {

    width: 760px;
    overflow: hidden;
    background-color: #eee;
}
aside figure > img {
    width: 240px;
}